<%- include('../partials/header') %>
<div class="container">
    <div class="row ">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="img-fluid img-thumbnail"   >
                <img  src="<%= campground.image %>" alt="">
                <div class="caption d-flex justify-content-between">
                    
                    <h4><a href=""><%= campground.name %></a></h4>
                    <h4><em>created by <%= campground.author.username %></em></h4>
                    <h4><%= campground.price %>$/night</h4>
                    
                </div>
                    <p>
                        <%= campground.description %>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){  %>
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
                    <form class='deleteForm' action="/campgrounds/<%= campground._id  %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
            </div>
            <div class="bg-light">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/comments/new">Add a new comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
    
    


                    <div class="row">
                        <div class="col-md-12">
                            
                            <span class="d-flex justify-content-between">
                               <span><strong><%= comment.author.username %></strong></span> 
                               
                            </span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){  %>
                            <a class="btn btn-sm btn-success" href="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class='deleteForm' action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                                <% } %>
                                <hr>
                        </div>
                        
                    </div>
                    <% }); %>

            </div>
           
        </div>
        <div class="col-md-1">
        </div>

    </div>
</div>








<%- include('../partials/footer') %>